<header id="header">
				<h1 id="logo"><a href="/">Sportstackelogist <span>by Thambi Software Inc. </span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
                        <li><a href="/blog.html">Updates</a></li>
						<li class="submenu">
							<a href="">Sport Stacking</a>
							<ul>
								<li><a href="/left-sidebar.html">Timings</a></li>
								<li><a href="/right-sidebar.html">Cups</a></li>
								<li><a href="/no-sidebar.html">Competitions</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Platforms</a>
									<ul>
										<li><a href="#">Youtube</a></li>
										<li><a href="#">Instagram</a></li>
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">WSSA</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>
